/* BASIC/GLOBAL STYLES
------------------------------------------ */
html {
	font-size: 100%;
}
body {
	background: #f4f4f4 url('//flow14.com/img/topo-75p.png') left top repeat;
	color: #333333;
	font-size: 1.2em;
	font-family: 'Source Sans Pro', sans-serif;
	/* font weights: 200,300,400,600,700 */
	line-height: 1.5;
}
.intro {
	background: transparent url('//flow14.com/img/topo-20p.png') left top repeat;
}
.dark {
	background: transparent url('//flow14.com/img/topo-10p.png') left top repeat;
}
.yolo { background-color: yellow; }

h1 {
	margin-bottom: .3em;
	font-weight: 200;
	font-size: 56px;
	font-size: 3.5rem;
	line-height: 1.1;
}
.intro h1 {
	margin-bottom: .2em;
	font-size: 48px;
	font-size: 3rem;
}
.carousel-caption h1 {
	font-size: 35px;
	font-size: 2.2rem;
}
h2 {
	margin: 0 0 .5em 0;
	font-weight: 300;
	font-size: 35px;
	font-size: 2.2rem;
	line-height: 1.1;
}
.item h2 {
	margin: .5em 0 .25em 0;
	font-weight: 400;
	font-size: 24px;
	font-size: 1.5rem;
}
h3 {
	margin-bottom: .5em;
	font-weight: 300;
	font-size: 27px
	font-size: 1.7rem;
	line-height: 1.1;
}
p {
	margin: 0 0 1em 0;
	font-weight: 300;
}
h1 strong,
p strong { font-weight: 400; }
.item p {
	font-size: 19px;
	font-size: 1rem;
}
h1 span,
h2 span,
p span,
a span {
	color: #bfbfbf;
	font-weight: 200;
}
label {
	font-weight: 300;
	font-size: 19px;
	font-size: 1.2rem;
}
/* HEADER STYLES
------------------------------------------ */
.nav div {
	float: left;
	margin: 1.2em 1em 1em 0;
	width: 90px;
}
.nav div.logo {
	float: left;
	margin: .6em 1em 0 0;
	width: 180px;
}
.nav div a {
	display: block;
	padding: .5em;
}
.logo a span {
	display: none;
}
.logo a {
	display: block;
	width: 180px;
	height: 60px;
	background: transparent url('//flow14.com/img/flow14-logo.png') left top no-repeat;
}
.dark .logo a {
	background: transparent url('//flow14.com/img/flow14-logo-wh.png') left top no-repeat;
}
.dark .nav a {
	color: #fff;
}
.dark {
	color: #fff;
}	

/* BODY STYLES
------------------------------------------ */
.intro {
	padding-bottom: 1.5em;
	min-width: 100%;
}
.items {
	margin-bottom: 2em;
}
.item {
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
}
.item img {
	min-width: 100%;
	border-bottom: 1px solid #EFEFEF;
}
.sample {
	margin-bottom: 2em;
	padding-bottom: 2em;
	background: transparent url('//flow14.com/img/shadow.png') bottom no-repeat;
}
.work-sample img {
	display: block;
	margin: 1em auto;
}
.caption {
	margin-bottom: 1.5em;
	text-align: center;
}
.caption img { 
	margin: 0 auto;
}
.caption p { 
	margin: 0;
	color: #777777;
	font-style: italic;
	font-size: 16px;
	font-size: 1rem;
}

/* Carousel  */
.carousel-inner { overflow: hidden; }
.carousel-inner>.item { position: relative; }
.carousel-inner>.active { display: block; }

.carousel {
	margin-bottom: 2em;
}
.carousel .container {
	position: relative;
	z-index: 9;
}
.carousel .item {
	height: 400px;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 400px;
}
.carousel-caption {
	position: static;
	margin: 0 auto;
	margin-top: 80px;
	padding: 0;
	max-width: 90%;
	background-color: transparent;
}
.carousel-caption h1 {
	margin: 0;
	color: #222222;
	font-weight: 300;
	line-height: 1.25;
}
.carousel-caption a {
	color: #222222;
	text-decoration: underline;
	font-weight: 400;
}

/* Marketing Content */
.marketing {
	min-width: 100%;
}
.introduction {
	margin: 0 auto;
	text-align: center;
}
.introduction h1,
.introduction p {
	width: 45%;
	text-align:left;	
}	
.introduction h1 { margin: 0 auto; }
.introduction p { margin: .5em auto; }

/* Featurettes */
.featurette {
	/* overflow: hidden; */
	margin: 0 auto;
	padding-top: 2em; /* Vertically center images part 1: add padding above and below text. */
	padding-bottom: 2em; /* Vertically center images part 1: add padding above and below text. */
	background-color: rgba(255,255,255,.6);
	text-align: center;
}
.featurette h2,
.featurette h3,
.featurette p {
	margin: 1em auto;
	width: 60%;
	text-align:left;	
}
.featurette h3 { margin: 1em auto; }
.featurette-alt {
	border-width: 1px 0;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	background-color: rgba(220,220,220,.2);
}
.featurette-image {
	display: block;
	margin: 2em auto;
}
.flexslider-80,
.flexslider-70,
.flexslider-60,
.flexslider-50,
.flexslider-40 {
	margin: 0 auto 60px;
}
.flexslider-80 { width: 80%; }
.flexslider-70 { width: 70%; }
.flexslider-60 { width: 60%; }
.flexslider-50 { width: 50%; }
.flexslider-40 { width: 40%; }

.inner {
	margin: 0 auto;
	/* padding-top: 1em; */
	/* padding-bottom: 1em; */
	width: 90%;
}

/* FOOTER STYLES
------------------------------------------ */
footer {
	margin: 4em auto 0 auto;
	padding: 2em 0;
	color: #444444;
	font-size: 15px;
	font-size: .95rem;
	*zoom: 1;
}
footer:before,
footer:after {
  display: table;
  content: "";
  line-height: 0;
}

footer:after {
  clear: both;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; } 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider { /* margin: 0; */ padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { display: block;width: 100%;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after { display: block; visibility: hidden; clear: both; height: 0;content: "."; line-height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative;/* margin: 0 0 60px; */ border: 4px solid #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background: transparent; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; -o-border-radius: 4px; -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

p.flex-caption {
	position: relative;
	bottom: 0;
	left: 0;
	margin: .5em 0 0 0;
	padding: 2%;
	width: 96%;
	background: rgba(0,0,0,.1);
	color: #333;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-weight: 400;
}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a { position: absolute; top: 50%; z-index: 10; display: block; margin: -20px 0 0;width: 30px; height: 30px; background: url('//flow14.com/img/bg_direction_nav.png') no-repeat 0 0; text-indent: -9999px; opacity: 0; cursor: pointer; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next { right: -36px;background-position: 100% 0; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next { right: 5px;opacity: 0.8;}
.flexslider:hover .flex-prev { left: 5px;opacity: 0.8;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { position: absolute; bottom: -40px;width: 100%; text-align: center;}
.flex-control-nav li { display: inline-block;margin: 0 6px; zoom: 1; *display: inline;}
.flex-control-paging li a { display: block;width: 11px; height: 11px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #666; background: rgba(0,0,0,0.5); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); text-indent: -9999px; cursor: pointer; -o-border-radius: 20px;}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs { position: static; overflow: hidden;margin: 5px 0 0;}
.flex-control-thumbs li { float: left; margin: 0;width: 25%;}
.flex-control-thumbs img { display: block;width: 100%; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* RESPONSIVE CSS
------------------------------------------ */
@media (max-width: 979px) {
	.item {
		margin-bottom: 1.5em;
		padding-bottom: .1em;
	}
	.carousel { margin-bottom: 0; }
	.carousel .item { margin-bottom: 1em; }
	.carousel img {
		width: auto;
	}
	.carousel-caption {
		margin-top: 30px;
		width: 100%;
	}
	.introduction h1,
	.introduction p {
		width: 70%;
	}
	.featurette h2,
	.featurette h3,
	.featurette p {
		margin: 1em auto;
		width: 80%;
		text-align:left;	
	}
	.featurette-image {
		display: block;
		max-width: 80%;
	}
	.offset1,
	.offset2,
	.offset3 {
		margin-left: 0;
	}
	p.flex-caption {
		margin: .5em 0 0 0;
		width: 96%;
	}
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { left: 0;opacity: 1;}
  .flex-direction-nav .flex-next { right: 0;opacity: 1;}
}
@media (max-width: 767px) {
	h1,
	.intro h1 { font-size: 2rem; }
	h2,
	.item h2 { font-size: 1.3rem; }
	h3 { font-size: 1.2rem; }
	.nav div.logo {
		float: none;
		margin: 0;
		height: 60px;
	}
	.nav div { margin: 0 0 .5em 0; }
	.marketing,
	.carousel {
		margin-right: -20px;
		margin-bottom: 1em;
		margin-left: -20px;
	}
	.intro {
		margin-right: -20px;
		margin-left: -20px;
		padding:20px;
	}
	.carousel .item {
		height: auto;
	}
	.flexslider-80,
	.flexslider-70,
	.flexslider-60,
	.flexslider-50,
	.flexslider-40,
	.introduction h1,
	.introduction p {
		width: 100%;
	}
	.carousel-caption { margin-top: 10px; }
	.carousel-caption h1 { margin: 1em 0 0 0; font-size: 1.25rem;}
	.featurette h2,
	.featurette h3,
	.featurette p {
		margin: 1em 0;
		width: 100%;
	}
	.marketing .span4 + .span4 { margin-top: 40px; }
	footer .inner { width: 300px; }
	p.flex-caption {
		margin: .5em 0 0 0;
		width: 96%;
	}
}

/* TO DO ITEMS
------------------------------------------ */
/* 
- Mobile-optimized image loading (see L4K code)
*/
