.hide-text{background-color:transparent;border:0;color:transparent;font:0/0 a;text-shadow:none}
.input-block-level{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;min-height:30px;width:100%}
audio,canvas,video{display:inline;zoom:1}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:100%}
a:hover,a:active{outline:0}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{-ms-interpolation-mode:bicubic;border:0;height:auto;max-width:100%;vertical-align:middle;width:auto\9}
#map_canvas img,.google-maps img{max-width:none}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:middle}
button,input{line-height:normal;overflow:visible}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
label,select,button,input[type=button],input[type=reset],input[type=submit],input[type=radio],input[type=checkbox]{cursor:pointer}
input[type=search]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
textarea{height:auto;overflow:auto;vertical-align:top}
body{background:#f4f4f4 url(../img/topo-75.png) left top repeat;background-color:#fff;color:#333;font-family:'Source Sans Pro', sans-serif;font-size:1.2em;line-height:1.5;margin:0}
a{color:#08c;text-decoration:none}
a:hover,a:focus{color:#005580;text-decoration:underline}
.img-rounded{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
.img-polaroid{-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);background-color:#fff;border:1px solid rgba(0,0,0,0.2);box-shadow:0 1px 3px rgba(0,0,0,0.1);padding:4px}
.img-circle{-moz-border-radius:500px;-webkit-border-radius:500px;border-radius:500px}
.row{margin-left:-20px;zoom:1}
[class*=span]{float:left;margin-left:20px;min-height:1px}
.span11{width:860px}
.span10{width:780px}
.span9{width:700px}
.span8{width:620px}
.span7{width:540px}
.span6{width:460px}
.span5{width:380px}
.span4{width:300px}
.span3{width:220px}
.span2{width:140px}
.offset12{margin-left:980px}
.offset11{margin-left:900px}
.offset10{margin-left:820px}
.offset9{margin-left:740px}
.offset8{margin-left:660px}
.offset7{margin-left:580px}
.offset6{margin-left:500px}
.offset5{margin-left:420px}
.offset4{margin-left:340px}
.offset3{margin-left:260px}
.offset1{margin-left:100px}
.row-fluid{width:100%;zoom:1}
.row-fluid [class*=span]{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;float:left;margin-left:2.07446808511%;min-height:30px;width:100%}
.row-fluid .controls-row [class*=span]+[class*=span]{margin-left:2.12765957447%}
.row-fluid .span12{width:99.9468085106%}
.row-fluid .span11{width:91.4361702128%}
.row-fluid .span10{width:82.9255319149%}
.row-fluid .span9{width:74.414893617%}
.row-fluid .span8{width:65.9042553191%}
.row-fluid .span7{width:57.3936170213%}
.row-fluid .span6{width:48.8829787234%}
.row-fluid .span5{width:40.3723404255%}
.row-fluid .span4{width:31.8617021277%}
.row-fluid .span3{width:23.3510638298%}
.row-fluid .span2{width:14.8404255319%}
.row-fluid .span1{width:6.32978723404%}
.row-fluid .offset12{margin-left:104.14893617%}
.row-fluid .offset12:first-child{margin-left:102.021276596%}
.row-fluid .offset11{margin-left:95.6382978723%}
.row-fluid .offset11:first-child{margin-left:93.5106382979%}
.row-fluid .offset10{margin-left:87.1276595745%}
.row-fluid .offset10:first-child{margin-left:85%}
.row-fluid .offset9{margin-left:78.6170212766%}
.row-fluid .offset9:first-child{margin-left:76.4893617021%}
.row-fluid .offset8{margin-left:70.1063829787%}
.row-fluid .offset8:first-child{margin-left:67.9787234043%}
.row-fluid .offset7{margin-left:61.5957446809%}
.row-fluid .offset7:first-child{margin-left:59.4680851064%}
.row-fluid .offset6{margin-left:53.085106383%}
.row-fluid .offset6:first-child{margin-left:50.9574468085%}
.row-fluid .offset5{margin-left:44.5744680851%}
.row-fluid .offset5:first-child{margin-left:42.4468085106%}
.row-fluid .offset4{margin-left:36.0638297872%}
.row-fluid .offset4:first-child{margin-left:33.9361702128%}
.row-fluid .offset3{margin-left:27.5531914894%}
.row-fluid .offset3:first-child{margin-left:25.4255319149%}
.row-fluid .offset2{margin-left:19.0425531915%}
.row-fluid .offset2:first-child{margin-left:16.914893617%}
.row-fluid .offset1{margin-left:10.5319148936%}
.row-fluid .offset1:first-child{margin-left:8.40425531915%}
.container{margin-left:auto;margin-right:auto;zoom:1}
.container-fluid{padding-left:20px;padding-right:20px;zoom:1}
p{font-weight:300;margin:0 0 1em}
small{font-size:85%}
em{font-style:italic}
cite{font-style:normal}
a.muted:hover,a.muted:focus{color:gray}
a.text-warning:hover,a.text-warning:focus{color:#a47e3c}
a.text-error:hover,a.text-error:focus{color:#953b39}
a.text-info:hover,a.text-info:focus{color:#2d6987}
a.text-success:hover,a.text-success:focus{color:#356635}
.text-left{text-align:left}
.text-center{text-align:center}
h1,h2,h3,h4,h5,h6{color:inherit;font-family:inherit;font-weight:700;line-height:20px;margin:10px 0;text-rendering:optimizelegibility}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{color:#999;font-weight:400;line-height:1}
ul,ol{margin:0 0 10px 25px;padding:0}
ul.inline>li,ol.inline>li{display:inline;padding-left:5px;padding-right:5px;zoom:1}
dl{margin-bottom:20px}
.dl-horizontal dt{clear:left;float:left;overflow:hidden;text-align:right;text-overflow:ellipsis;white-space:nowrap;width:160px}
hr{border:0;border-bottom:1px solid #fff;border-top:1px solid #eee;margin:20px 0}
abbr[title],abbr[data-original-title]{border-bottom:1px dotted #999;cursor:help}
abbr.initialism{font-size:90%;text-transform:uppercase}
blockquote{border-left:5px solid #eee;margin:0 0 20px;padding:0 0 0 15px}
blockquote p{font-size:17.5px;font-weight:300;line-height:1.25;margin-bottom:0}
blockquote small{color:#999;display:block;line-height:20px}
blockquote small:before{content:'\2014 \00A0'}
blockquote.pull-right{border-left:0;border-right:5px solid #eee;float:right;padding-left:0;padding-right:15px}
blockquote.pull-right small:before{content:''}
blockquote.pull-right small:after{content:'\00A0 \2014'}
q:before,q:after,blockquote:before,blockquote:after{content:""}
address{display:block;font-style:normal;line-height:20px;margin-bottom:20px}
form{margin:0 0 20px}
fieldset{border:0;margin:0;padding:0}
legend{border:0;border-bottom:1px solid #e5e5e5;color:#333;display:block;font-size:21px;line-height:40px;margin-bottom:20px;padding:0;width:100%}
legend small{color:#999;font-size:15px}
label,input,button,select,textarea{font-size:14px;font-weight:400;line-height:20px}
input,button,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
label{display:block;font-size:1.2rem;font-weight:300;margin-bottom:5px}
select,textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;color:#555;display:inline-block;font-size:14px;height:20px;line-height:20px;margin-bottom:10px;padding:4px 6px;vertical-align:middle}
input,textarea,.uneditable-input{margin-left:0;width:206px}
textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s, box-shadow linear .2s;background-color:#fff;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);transition:border linear .2s, box-shadow linear .2s}
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=date]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus,input[type=number]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=color]:focus,.uneditable-input:focus{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);border-color:rgba(82,168,236,0.8);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);outline:thin dotted \9}
input[type=radio],input[type=checkbox]{line-height:normal;margin:1px \9 0 0 0}
input[type=file],input[type=image],input[type=submit],input[type=reset],input[type=button],input[type=radio],input[type=checkbox]{width:auto}
select,input[type=file]{height:30px;line-height:30px;margin-top:4px}
select{background-color:#fff;border:1px solid #ccc;width:220px}
select[multiple],select[size]{height:auto}
.uneditable-input,.uneditable-textarea{-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);background-color:#fcfcfc;border-color:#ccc;box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);color:#999;cursor:not-allowed}
.uneditable-input{overflow:hidden;white-space:nowrap}
.uneditable-textarea{height:auto;width:auto}
.radio,.checkbox{min-height:20px;padding-left:20px}
.radio input[type=radio],.checkbox input[type=checkbox]{float:left;margin-left:-20px}
.radio.inline,.checkbox.inline{display:inline-block;margin-bottom:0;padding-top:5px;vertical-align:middle}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:210px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}
input[class*=span],select[class*=span],textarea[class*=span],.uneditable-input[class*=span],.row-fluid input[class*=span],.row-fluid select[class*=span],.row-fluid textarea[class*=span],.row-fluid .uneditable-input[class*=span]{float:none;margin-left:0}
.controls-row [class*=span]+[class*=span]{margin-left:20px}
input.span12,textarea.span12,.uneditable-input.span12{width:926px}
input.span11,textarea.span11,.uneditable-input.span11{width:846px}
input.span10,textarea.span10,.uneditable-input.span10{width:766px}
input.span9,textarea.span9,.uneditable-input.span9{width:686px}
input.span8,textarea.span8,.uneditable-input.span8{width:606px}
input.span7,textarea.span7,.uneditable-input.span7{width:526px}
input.span6,textarea.span6,.uneditable-input.span6{width:446px}
input.span5,textarea.span5,.uneditable-input.span5{width:366px}
input.span4,textarea.span4,.uneditable-input.span4{width:286px}
input.span3,textarea.span3,.uneditable-input.span3{width:206px}
input.span2,textarea.span2,.uneditable-input.span2{width:126px}
input.span1,textarea.span1,.uneditable-input.span1{width:46px}
input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]{background-color:#eee;cursor:not-allowed}
input[type=radio][disabled],input[type=checkbox][disabled],input[type=radio][readonly],input[type=checkbox][readonly]{background-color:transparent}
.control-group.warning input,.control-group.warning select,.control-group.warning textarea{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border-color:#c09853;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e;border-color:#a47e3c;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #dbc59e}
.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on{background-color:#fcf8e3;border-color:#c09853;color:#c09853}
.control-group.error input,.control-group.error select,.control-group.error textarea{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border-color:#b94a48;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;border-color:#953b39;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392}
.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on{background-color:#f2dede;border-color:#b94a48;color:#b94a48}
.control-group.success input,.control-group.success select,.control-group.success textarea{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border-color:#468847;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b;border-color:#356635;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7aba7b}
.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on{background-color:#dff0d8;border-color:#468847;color:#468847}
.control-group.info input,.control-group.info select,.control-group.info textarea{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border-color:#3a87ad;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)}
.control-group.info input:focus,.control-group.info select:focus,.control-group.info textarea:focus{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7ab5d3;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7ab5d3;border-color:#2d6987;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #7ab5d3}
.control-group.info .input-prepend .add-on,.control-group.info .input-append .add-on{background-color:#d9edf7;border-color:#3a87ad;color:#3a87ad}
input:focus:invalid,textarea:focus:invalid,select:focus:invalid{border-color:#ee5f5b;color:#b94a48}
input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus{-moz-box-shadow:0 0 6px #f8b9b7;-webkit-box-shadow:0 0 6px #f8b9b7;border-color:#e9322d;box-shadow:0 0 6px #f8b9b7}
.form-actions{background-color:#f5f5f5;border-top:1px solid #e5e5e5;margin-bottom:20px;margin-top:20px;padding:19px 20px 20px;zoom:1}
.help-block,.help-inline{color:#595959}
.help-block{display:block;margin-bottom:10px}
.help-inline{display:inline;padding-left:5px;vertical-align:middle;zoom:1}
.input-append,.input-prepend{display:inline-block;font-size:0;margin-bottom:10px;vertical-align:middle;white-space:nowrap}
.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input,.input-append .dropdown-menu,.input-prepend .dropdown-menu,.input-append .popover,.input-prepend .popover{font-size:14px}
.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,.input-prepend .uneditable-input{-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;margin-bottom:0;margin-left:0;position:relative;vertical-align:top}
.input-append input:focus,.input-prepend input:focus,.input-append select:focus,.input-prepend select:focus,.input-append .uneditable-input:focus,.input-prepend .uneditable-input:focus{z-index:2}
.input-append .add-on,.input-prepend .add-on{background-color:#eee;border:1px solid #ccc;display:inline-block;font-size:14px;font-weight:400;height:20px;line-height:20px;min-width:16px;padding:4px 5px;text-align:center;text-shadow:0 1px 0 #fff;width:auto}
.input-append .add-on,.input-prepend .add-on,.input-append .btn,.input-prepend .btn,.input-append .btn-group>.dropdown-toggle,.input-prepend .btn-group>.dropdown-toggle{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;vertical-align:top}
.input-append .active,.input-prepend .active{background-color:#a9dba9;border-color:#46a546}
.input-prepend .add-on,.input-prepend .btn{margin-right:-1px}
.input-append .add-on,.input-append .btn,.input-append .btn-group{margin-left:-1px}
.input-prepend.input-append .add-on:first-child,.input-prepend.input-append .btn:first-child{-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;margin-right:-1px}
.input-prepend.input-append .add-on:last-child,.input-prepend.input-append .btn:last-child{-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;margin-left:-1px}
input.search-query{-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;margin-bottom:0;padding-left:4px \9;padding-right:4px \9}
.form-search input,.form-inline input,.form-horizontal input,.form-search textarea,.form-inline textarea,.form-horizontal textarea,.form-search select,.form-inline select,.form-horizontal select,.form-search .help-inline,.form-inline .help-inline,.form-horizontal .help-inline,.form-search .uneditable-input,.form-inline .uneditable-input,.form-horizontal .uneditable-input,.form-search .input-prepend,.form-inline .input-prepend,.form-horizontal .input-prepend,.form-search .input-append,.form-inline .input-append,.form-horizontal .input-append{display:inline;margin-bottom:0;vertical-align:middle;zoom:1}
.form-search .radio,.form-search .checkbox,.form-inline .radio,.form-inline .checkbox{margin-bottom:0;padding-left:0;vertical-align:middle}
.form-search .radio input[type=radio],.form-search .checkbox input[type=checkbox],.form-inline .radio input[type=radio],.form-inline .checkbox input[type=checkbox]{float:left;margin-left:0;margin-right:3px}
.control-group{margin-bottom:10px}
legend+.control-group{-webkit-margin-top-collapse:separate;margin-top:20px}
.form-horizontal .control-group{margin-bottom:20px;zoom:1}
.form-horizontal .control-label{float:left;padding-top:5px;text-align:right;width:160px}
.form-horizontal .controls{display:inline-block;margin-left:0;padding-left:20px}
.form-horizontal input+.help-block,.form-horizontal select+.help-block,.form-horizontal textarea+.help-block,.form-horizontal .uneditable-input+.help-block,.form-horizontal .input-prepend+.help-block,.form-horizontal .input-append+.help-block{margin-top:10px}
.btn{-moz-border-radius:4px;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);background-color:#e6e6e6;background-image:linear-gradient(tobottom,#ffffff,#e6e6e6);background-repeat:repeat-x;border:0;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) #b3b3b3;border-radius:4px;box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);color:#333;cursor:pointer;display:inline;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);font-size:14px;line-height:20px;margin-bottom:0;margin-left:.3em;padding:4px 12px;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;zoom:1}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#d9d9d9;color:#333}
.btn:active,.btn.active{background-color:#ccc \9}
.btn:hover,.btn:focus{-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;-webkit-transition:background-position .1s linear;background-position:0 -15px;color:#333;text-decoration:none;transition:background-position .1s linear}
.btn.active,.btn:active{-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);background-image:none;box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);outline:0}
.btn.disabled,.btn[disabled]{-moz-box-shadow:none;-webkit-box-shadow:none;background-image:none;box-shadow:none;cursor:default;filter:alpha(opacity=65);opacity:0.65}
.btn-large{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;font-size:17.5px;padding:11px 19px}
.btn-large [class^=icon-],.btn-large [class*=" icon-"]{margin-top:4px}
.btn-small{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:11.9px;padding:2px 10px}
.btn-mini [class^=icon-],.btn-mini [class*=" icon-"]{margin-top:-1px}
.btn-mini{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:10.5px;padding:0 6px}
.btn-block{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;padding-left:0;padding-right:0;width:100%}
.btn-block+.btn-block{margin-top:5px}
input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block{width:100%}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{background-color:#04c;background-image:linear-gradient(tobottom,#0088cc,#0044cc);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#003bb3;color:#fff}
.btn-primary:active,.btn-primary.active{background-color:#039 \9}
.btn-warning{background-color:#f89406;background-image:linear-gradient(tobottom,#fbb450,#f89406);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{background-color:#df8505;color:#fff}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9}
.btn-danger{background-color:#bd362f;background-image:linear-gradient(tobottom,#ee5f5b,#bd362f);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{background-color:#a9302a;color:#fff}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9}
.btn-success{background-color:#51a351;background-image:linear-gradient(tobottom,#62c462,#51a351);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color:#499249;color:#fff}
.btn-success:active,.btn-success.active{background-color:#408140 \9}
.btn-info{background-color:#2f96b4;background-image:linear-gradient(tobottom,#5bc0de,#2f96b4);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{background-color:#2a85a0;color:#fff}
.btn-info:active,.btn-info.active{background-color:#24748c \9}
.btn-inverse{background-color:#222;background-image:linear-gradient(tobottom,#444444,#222222);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{background-color:#151515;color:#fff}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9}
button.btn.btn-large,input[type=submit].btn.btn-large{padding-bottom:7px;padding-top:7px}
button.btn.btn-mini,input[type=submit].btn.btn-mini{padding-bottom:1px;padding-top:1px}
.btn-link,.btn-link:active,.btn-link[disabled]{-moz-box-shadow:none;-webkit-box-shadow:none;background-color:transparent;background-image:none;box-shadow:none}
.btn-link{-moz-border-radius:0;-webkit-border-radius:0;border-color:transparent;border-radius:0;color:#08c;cursor:pointer}
.btn-link:hover,.btn-link:focus{background-color:transparent;color:#005580;text-decoration:underline}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333;text-decoration:none}
.media,.media-body{overflow:visible;zoom:1}
.media,.media .media{margin-top:15px}
.media-heading{margin:0 0 5px}
.media>.pull-left{margin-right:10px}
.invisible{visibility:hidden}
.affix{position:fixed}
.hidden{display:none;visibility:hidden}
.visible-desktop{display:inherit!important}
.yolo{background-color:#FF0}
h1{font-size:3.5rem;font-weight:200;line-height:1.1;margin-bottom:.3em}
.intro h1{font-size:3rem;margin-bottom:.2em}
.carousel-caption h1{color:#222;font-size:2.2rem;font-weight:300;line-height:1.25;margin:0}
h2{font-size:2.2rem;font-weight:300;line-height:1.1;margin:0 0 .5em}
.item h2{font-size:1.5rem;font-weight:400;margin:.5em 0 .25em}
h3{font-size:1.7rem;font-weight:300;line-height:1.1;margin-bottom:.5em}
h1 strong,p strong{font-weight:400}
.item p{font-size:1rem}
h1 span,h2 span,p span,a span{color:#bfbfbf;font-weight:200}
.nav div{float:left;margin:1.2em 1em 1em 0;width:90px}
.nav div.logo{float:left;margin:.6em 1em 0 0;width:180px}
.nav div a{display:block;padding:.5em}
.logo a{background:transparent url(../img/flow14-logo.png) left top no-repeat;display:block;height:60px;width:180px}
.intro{margin-bottom:1.5em}
.item{background:#fff;border-radius:5px;box-shadow:0 1px 1px hsla(0,0%,0%,0.1)}
.item img{border-bottom:1px solid #EFEFEF;min-width:100%}
.sample{background:transparent url(../img/shadow.png) bottom no-repeat;margin-bottom:2em;padding-bottom:2em}
.work-sample img{display:block;margin:1em auto}
.caption{margin-bottom:1.5em;text-align:center}
.caption img{margin:0 auto}
.caption p{color:#777;font-size:1rem;font-style:italic;margin:0}
.carousel-inner{overflow:hidden}
.carousel-inner>.item{position:relative}
.carousel .container{position:relative;z-index:9}
.carousel .item{height:400px}
.carousel img{height:400px;left:0;min-width:100%;position:absolute;top:0}
.carousel-caption{background-color:transparent;margin:80px auto 0;max-width:90%;padding:0;position:static}
.carousel-caption a{color:#222;font-weight:400;text-decoration:underline}
.marketing{min-width:100%}
.featurette-divider{margin:80px 0}
.featurette{background-color:rgba(255,255,255,.6);margin:0 auto;overflow:hidden;padding-bottom:2em;padding-top:2em}
.featurette-alt{background-color:rgba(220,220,220,.2);border-bottom:1px solid #dedede;border-top:1px solid #dedede;border-width:1px 0}
.featurette-image{display:block;margin:-4em auto 2em}
.featurette-image.pull-left{margin-right:40px}
.featurette-image.pull-right{margin-left:40px}
.featurette-heading{font-size:50px;font-weight:300;letter-spacing:-1px;line-height:1}
.inner{margin:0 auto;width:90%}
footer{background:transparent url(../img/shadow.png) center top no-repeat;color:#444;font-size:.95rem;margin:4em auto 0;padding:2em 0;zoom:1}
footer:before,footer:after{content:"";display:table;line-height:0}
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{outline:none}
.slides,.flex-control-nav,.flex-direction-nav{list-style:none;margin:0;padding:0}
.flexslider{-moz-border-radius:4px;-moz-box-shadow:0 1px 4px rgba(0,0,0,.2);-o-border-radius:4px;-o-box-shadow:0 1px 4px rgba(0,0,0,.2);-webkit-border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);background:transparent;border:4px solid #fff;border-radius:4px;box-shadow:0 1px 4px rgba(0,0,0,.2);margin:0 0 60px;padding:0;position:relative;zoom:1}
.flexslider .slides > li{-webkit-backface-visibility:hidden;display:none}
.flexslider .slides img{display:block;width:100%}
.flex-pauseplay span{text-transform:capitalize}
.slides:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
* html .slides{height:1%}
.flex-viewport{-moz-transition:all 1s ease;-webkit-transition:all 1s ease;max-height:2000px;transition:all 1s ease}
.loading .flex-viewport{max-height:300px}
.flex-caption{background:rgba(0,0,0,.1);bottom:0;color:#333;font-weight:400;left:0;margin:.5em 0 0;padding:2%;position:relative;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,.3);width:96%}
.flex-direction-nav{height:0}
.flex-direction-nav a{-webkit-transition:all .3s ease;background:url(../img/bg_direction_nav.png) no-repeat 0 0;cursor:pointer;display:block;height:30px;margin:-20px 0 0;opacity:0;position:absolute;text-indent:-9999px;top:50%;width:30px;z-index:10}
.flex-direction-nav .flex-next{background-position:100% 0;right:-36px}
.flex-direction-nav .flex-prev{left:-36px}
.flexslider:hover .flex-next{opacity:0.8;right:5px}
.flexslider:hover .flex-prev{left:5px;opacity:0.8}
.flex-direction-nav .flex-disabled{cursor:default;filter:alpha(opacity=30);opacity:.3!important}
.flex-control-nav{bottom:-40px;position:absolute;text-align:center;width:100%}
.flex-control-nav li{display:inline;margin:0 6px;zoom:1}
.flex-control-paging li a{-moz-border-radius:20px;-o-border-radius:20px;-webkit-border-radius:20px;background:rgba(0,0,0,0.5);border-radius:20px;box-shadow:inset 0 0 3px rgba(0,0,0,0.3);cursor:pointer;display:block;height:11px;text-indent:-9999px;width:11px}
.flex-control-paging li a:hover{background:rgba(0,0,0,0.7)}
.flex-control-paging li a.flex-active{background:rgba(0,0,0,0.9);cursor:default}
.flex-control-thumbs{margin:5px 0 0;overflow:hidden;position:static}
.flex-control-thumbs li{float:left;margin:0;width:25%}
.flex-control-thumbs img{cursor:pointer;display:block;opacity:.7;width:100%}
.flex-control-thumbs .flex-active{cursor:default;opacity:1}
.clearfix,.dl-horizontal,.controls-row,.flexslider .slides{zoom:1}
.clearfix:before,.clearfix:after,.row:before,.row:after,.row-fluid:before,.row-fluid:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.dl-horizontal:before,.dl-horizontal:after,.controls-row:before,.controls-row:after,.form-actions:before,.form-actions:after,.form-horizontal .control-group:before,.form-horizontal .control-group:after{content:"";display:table;line-height:0}
.clearfix:after,.row:after,.row-fluid:after,.container:after,.container-fluid:after,.dl-horizontal:after,.controls-row:after,.form-actions:after,.form-horizontal .control-group:after,footer:after{clear:both}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,.media-object,.show,.carousel-inner>.active,html[xmlns] .slides,.no-js .slides > li:first-child{display:block}
audio:not([controls]),[class*=span].hide,.row-fluid [class*=span].hide,.form-search .hide,.form-inline .hide,.form-horizontal .hide,.hide,.logo a span{display:none}
a:focus,select:focus,input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus,.btn:focus{outline:5px auto 0;outline-offset:-2px}
button::-moz-focus-inner,input::-moz-focus-inner,button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{border:0;padding:0}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.span12{width:940px}
.span1,.input-mini{width:60px}
.offset2,.dl-horizontal dd{margin-left:180px}
.row-fluid [class*=span]:first-child,.input-prepend.input-append .btn-group:first-child,.btn:first-child{margin-left:0}
[class*=span].pull-right,.row-fluid [class*=span].pull-right,.pull-right{float:right}
strong,dt{font-weight:700}
.muted,input:-moz-placeholder,textarea:-moz-placeholder,input:-ms-input-placeholder,textarea:-ms-input-placeholder,input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}
.text-warning,.control-group.warning .control-label,.control-group.warning .help-block,.control-group.warning .help-inline,.control-group.warning .checkbox,.control-group.warning .radio,.control-group.warning input,.control-group.warning select,.control-group.warning textarea{color:#c09853}
.text-error,.control-group.error .control-label,.control-group.error .help-block,.control-group.error .help-inline,.control-group.error .checkbox,.control-group.error .radio,.control-group.error input,.control-group.error select,.control-group.error textarea{color:#b94a48}
.text-info,.control-group.info .control-label,.control-group.info .help-block,.control-group.info .help-inline,.control-group.info .checkbox,.control-group.info .radio,.control-group.info input,.control-group.info select,.control-group.info textarea{color:#3a87ad}
.text-success,.control-group.success .control-label,.control-group.success .help-block,.control-group.success .help-inline,.control-group.success .checkbox,.control-group.success .radio,.control-group.success input,.control-group.success select,.control-group.success textarea{color:#468847}
.text-right,blockquote.pull-right p,blockquote.pull-right small{text-align:right}
ul ul,ul ol,ol ol,ol ul,.form-search .input-append,.form-inline .input-append,.form-search .input-prepend,.form-inline .input-prepend,.form-horizontal .help-block{margin-bottom:0}
li,dt,dd{line-height:20px}
ul.unstyled,ol.unstyled,ul.inline,ol.inline,.media-list{list-style:none;margin-left:0}
dd,.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline,.media>.pull-right{margin-left:10px}
.controls>.radio:first-child,.controls>.checkbox:first-child,.controls-row .checkbox[class*=span],.controls-row .radio[class*=span]{padding-top:5px}
.input-append input[class*=span],.input-append .uneditable-input[class*=span],.input-prepend input[class*=span],.input-prepend .uneditable-input[class*=span],.row-fluid input[class*=span],.row-fluid select[class*=span],.row-fluid textarea[class*=span],.row-fluid .uneditable-input[class*=span],.row-fluid .input-prepend [class*=span],.row-fluid .input-append [class*=span],.form-search label,.form-inline label,.form-search .btn-group,.form-inline .btn-group{display:inline-block}
.controls-row [class*=span],.row-fluid .controls-row [class*=span],.pull-left{float:left}
.input-prepend .add-on:first-child,.input-prepend .btn:first-child,.input-append input,.input-append select,.input-append .uneditable-input{-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px}
.input-append input+.btn-group .btn:last-child,.input-append select+.btn-group .btn:last-child,.input-append .uneditable-input+.btn-group .btn:last-child,.input-append .add-on:last-child,.input-append .btn:last-child,.input-append .btn-group:last-child>.dropdown-toggle,.input-prepend.input-append input+.btn-group .btn,.input-prepend.input-append select+.btn-group .btn,.input-prepend.input-append .uneditable-input+.btn-group .btn{-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}
.input-prepend.input-append input,.input-prepend.input-append select,.input-prepend.input-append .uneditable-input,.form-search .input-append .search-query,.form-search .input-prepend .search-query{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.form-search .input-append .search-query,.form-search .input-prepend .btn{-moz-border-radius:14px 0 0 14px;-webkit-border-radius:14px 0 0 14px;border-radius:14px 0 0 14px}
.form-search .input-append .btn,.form-search .input-prepend .search-query{-moz-border-radius:0 14px 14px 0;-webkit-border-radius:0 14px 14px 0;border-radius:0 14px 14px 0}
.form-horizontal .controls:first-child,.form-horizontal .form-actions{padding-left:180px}
.btn-small [class^=icon-],.btn-small [class*=" icon-"],.media:first-child{margin-top:0}
button.btn,input[type=submit].btn,button.btn.btn-small,input[type=submit].btn.btn-small{padding-bottom:3px;padding-top:3px}
.visible-phone,.visible-tablet,.hidden-desktop,.visible-print{display:none!important}
.items,.carousel{margin-bottom:2em}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover,.flex-control-thumbs img:hover{opacity:1}
@media print {
*{background:transparent!important;box-shadow:none!important;color:#000!important;text-shadow:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^=javascript:]:after,a[href^=#]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
.visible-print{display:inherit!important}
.hidden-print{display:none!important}
}
@media min-width768px and max-width979px {
.row{margin-left:-20px;zoom:1}
[class*=span]{float:left;margin-left:20px;min-height:1px}
.span11{width:662px}
.span10{width:600px}
.span9{width:538px}
.span8{width:476px}
.span7{width:414px}
.span6{width:352px}
.span5{width:290px}
.span4{width:228px}
.span3{width:166px}
.span2{width:104px}
.span1{width:42px}
.offset12{margin-left:764px}
.offset11{margin-left:702px}
.offset10{margin-left:640px}
.offset9{margin-left:578px}
.offset8{margin-left:516px}
.offset7{margin-left:454px}
.offset6{margin-left:392px}
.offset5{margin-left:330px}
.offset4{margin-left:268px}
.offset3{margin-left:206px}
.offset2{margin-left:144px}
.offset1{margin-left:82px}
.row-fluid{width:100%;zoom:1}
.row-fluid [class*=span]{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;float:left;margin-left:2.70923944986%;min-height:30px;width:100%}
.row-fluid .controls-row [class*=span]+[class*=span]{margin-left:2.76243093923%}
.row-fluid .span12{width:99.9468085106%}
.row-fluid .span11{width:91.383272599%}
.row-fluid .span10{width:82.8197366874%}
.row-fluid .span9{width:74.2562007758%}
.row-fluid .span8{width:65.6926648642%}
.row-fluid .span7{width:57.1291289526%}
.row-fluid .span6{width:48.565593041%}
.row-fluid .span5{width:40.0020571294%}
.row-fluid .span4{width:31.4385212178%}
.row-fluid .span3{width:22.8749853062%}
.row-fluid .span2{width:14.3114493946%}
.row-fluid .span1{width:5.74791348301%}
.row-fluid .offset12{margin-left:105.4184789%}
.row-fluid .offset12:first-child{margin-left:102.656047961%}
.row-fluid .offset11{margin-left:96.8549429881%}
.row-fluid .offset11:first-child{margin-left:94.0925120489%}
.row-fluid .offset10{margin-left:88.2914070765%}
.row-fluid .offset10:first-child{margin-left:85.5289761373%}
.row-fluid .offset9{margin-left:79.7278711649%}
.row-fluid .offset9:first-child{margin-left:76.9654402257%}
.row-fluid .offset8{margin-left:71.1643352533%}
.row-fluid .offset8:first-child{margin-left:68.4019043141%}
.row-fluid .offset7{margin-left:62.6007993417%}
.row-fluid .offset7:first-child{margin-left:59.8383684025%}
.row-fluid .offset6{margin-left:54.0372634301%}
.row-fluid .offset6:first-child{margin-left:51.2748324909%}
.row-fluid .offset5{margin-left:45.4737275185%}
.row-fluid .offset5:first-child{margin-left:42.7112965793%}
.row-fluid .offset4{margin-left:36.9101916069%}
.row-fluid .offset4:first-child{margin-left:34.1477606677%}
.row-fluid .offset3{margin-left:28.3466556953%}
.row-fluid .offset3:first-child{margin-left:25.5842247561%}
.row-fluid .offset2{margin-left:19.7831197837%}
.row-fluid .offset2:first-child{margin-left:17.0206888445%}
.row-fluid .offset1{margin-left:11.2195838721%}
.row-fluid .offset1:first-child{margin-left:8.45715293288%}
.controls-row [class*=span]+[class*=span]{margin-left:20px}
input.span12,textarea.span12,.uneditable-input.span12{width:710px}
input.span11,textarea.span11,.uneditable-input.span11{width:648px}
input.span10,textarea.span10,.uneditable-input.span10{width:586px}
input.span9,textarea.span9,.uneditable-input.span9{width:524px}
input.span8,textarea.span8,.uneditable-input.span8{width:462px}
input.span7,textarea.span7,.uneditable-input.span7{width:400px}
input.span6,textarea.span6,.uneditable-input.span6{width:338px}
input.span5,textarea.span5,.uneditable-input.span5{width:276px}
input.span4,textarea.span4,.uneditable-input.span4{width:214px}
input.span3,textarea.span3,.uneditable-input.span3{width:152px}
input.span2,textarea.span2,.uneditable-input.span2{width:90px}
input.span1,textarea.span1,.uneditable-input.span1{width:28px}
.hidden-desktop,.visible-tablet{display:inherit!important}
.visible-desktop,.hidden-tablet{display:none!important}
.row:before,.row:after,.row-fluid:before,.row-fluid:after{content:"";display:table;line-height:0}
.row:after,.row-fluid:after{clear:both}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.span12{width:724px}
.row-fluid [class*=span]:first-child,input,textarea,.uneditable-input{margin-left:0}
}
@media max-width767px {
body{padding-left:20px;padding-right:20px}
.navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top{margin-left:-20px;margin-right:-20px}
.container-fluid{padding:0}
.dl-horizontal dt{clear:none;float:none;text-align:left;width:auto}
.container{width:auto}
.row-fluid{width:100%}
.thumbnails>li{float:none;margin-left:0}
[class*=span],.uneditable-input[class*=span],.row-fluid [class*=span]{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;float:none;margin-left:0;width:100%}
.span12,.row-fluid .span12{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%}
.input-large,.input-xlarge,.input-xxlarge,input[class*=span],select[class*=span],textarea[class*=span],.uneditable-input{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;min-height:30px;width:100%}
.input-prepend input,.input-append input,.input-prepend input[class*=span],.input-append input[class*=span]{display:inline-block;width:auto}
.modal{left:20px;margin:0;position:fixed;right:20px;top:20px;width:auto}
.modal.fade{top:-100px}
.modal.fade.in{top:20px}
.hidden-desktop,.visible-phone{display:inherit!important}
.visible-desktop,.hidden-phone{display:none!important}
.dl-horizontal dd,.row,.thumbnails,.row-fluid [class*=offset]:first-child,.controls-row [class*=span]+[class*=span]{margin-left:0}
}
@media max-width480px {
.nav-collapse{-webkit-transform:translate3d(0,0,0)}
.page-header h1 small{display:block;line-height:20px}
input[type=checkbox],input[type=radio]{border:1px solid #ccc}
.form-horizontal .control-label{float:none;padding-top:0;text-align:left;width:auto}
.form-horizontal .controls{margin-left:0}
.form-horizontal .control-list{padding-top:0}
.form-horizontal .form-actions{padding-left:10px;padding-right:10px}
.media .pull-left,.media .pull-right{display:block;float:none;margin-bottom:10px}
.media-object{margin-left:0;margin-right:0}
.modal{left:10px;right:10px;top:10px}
.modal-header .close{margin:-10px;padding:10px}
.carousel-caption{position:static}
}
@media min-width1200px {
.row{margin-left:-30px;zoom:1}
[class*=span]{float:left;margin-left:30px;min-height:1px}
.span11{width:1070px}
.span10{width:970px}
.span9{width:870px}
.span8{width:770px}
.span7{width:670px}
.span6{width:570px}
.span5{width:470px}
.span4{width:370px}
.span3{width:270px}
.span2{width:170px}
.span1{width:70px}
.offset12{margin-left:1230px}
.offset11{margin-left:1130px}
.offset10{margin-left:1030px}
.offset9{margin-left:930px}
.offset8{margin-left:830px}
.offset7{margin-left:730px}
.offset6{margin-left:630px}
.offset5{margin-left:530px}
.offset4{margin-left:430px}
.offset3{margin-left:330px}
.offset2{margin-left:230px}
.offset1{margin-left:130px}
.row-fluid{width:100%;zoom:1}
.row-fluid [class*=span]{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;display:block;float:left;margin-left:2.51091107474%;min-height:30px;width:100%}
.row-fluid .controls-row [class*=span]+[class*=span]{margin-left:2.5641025641%}
.row-fluid .span12{width:99.9468085106%}
.row-fluid .span11{width:91.3997999636%}
.row-fluid .span10{width:82.8527914166%}
.row-fluid .span9{width:74.3057828696%}
.row-fluid .span8{width:65.7587743226%}
.row-fluid .span7{width:57.2117657756%}
.row-fluid .span6{width:48.6647572286%}
.row-fluid .span5{width:40.1177486816%}
.row-fluid .span4{width:31.5707401346%}
.row-fluid .span3{width:23.0237315876%}
.row-fluid .span2{width:14.4767230406%}
.row-fluid .span1{width:5.92971449354%}
.row-fluid .offset12{margin-left:105.021822149%}
.row-fluid .offset12:first-child{margin-left:102.457719585%}
.row-fluid .offset11{margin-left:96.4748136025%}
.row-fluid .offset11:first-child{margin-left:93.9107110384%}
.row-fluid .offset10{margin-left:87.9278050555%}
.row-fluid .offset10:first-child{margin-left:85.3637024914%}
.row-fluid .offset9{margin-left:79.3807965085%}
.row-fluid .offset9:first-child{margin-left:76.8166939444%}
.row-fluid .offset8{margin-left:70.8337879614%}
.row-fluid .offset8:first-child{margin-left:68.2696853973%}
.row-fluid .offset7{margin-left:62.2867794144%}
.row-fluid .offset7:first-child{margin-left:59.7226768503%}
.row-fluid .offset6{margin-left:53.7397708674%}
.row-fluid .offset6:first-child{margin-left:51.1756683033%}
.row-fluid .offset5{margin-left:45.1927623204%}
.row-fluid .offset5:first-child{margin-left:42.6286597563%}
.row-fluid .offset4{margin-left:36.6457537734%}
.row-fluid .offset4:first-child{margin-left:34.0816512093%}
.row-fluid .offset3{margin-left:28.0987452264%}
.row-fluid .offset3:first-child{margin-left:25.5346426623%}
.row-fluid .offset2{margin-left:19.5517366794%}
.row-fluid .offset2:first-child{margin-left:16.9876341153%}
.row-fluid .offset1{margin-left:11.0047281324%}
.row-fluid .offset1:first-child{margin-left:8.44062556829%}
input.span12,textarea.span12,.uneditable-input.span12{width:1156px}
input.span11,textarea.span11,.uneditable-input.span11{width:1056px}
input.span10,textarea.span10,.uneditable-input.span10{width:956px}
input.span9,textarea.span9,.uneditable-input.span9{width:856px}
input.span8,textarea.span8,.uneditable-input.span8{width:756px}
input.span7,textarea.span7,.uneditable-input.span7{width:656px}
input.span6,textarea.span6,.uneditable-input.span6{width:556px}
input.span5,textarea.span5,.uneditable-input.span5{width:456px}
input.span4,textarea.span4,.uneditable-input.span4{width:356px}
input.span3,textarea.span3,.uneditable-input.span3{width:256px}
input.span2,textarea.span2,.uneditable-input.span2{width:156px}
input.span1,textarea.span1,.uneditable-input.span1{width:56px}
.thumbnails{margin-left:-30px}
.row:before,.row:after,.row-fluid:before,.row-fluid:after{content:"";display:table;line-height:0}
.row:after,.row-fluid:after{clear:both}
.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container,.span12{width:1170px}
.row-fluid [class*=span]:first-child,input,textarea,.uneditable-input,.row-fluid .thumbnails{margin-left:0}
.controls-row [class*=span]+[class*=span],.thumbnails>li{margin-left:30px}
}
@media max-width979px {
body{padding-top:0}
.navbar-fixed-top,.navbar-fixed-bottom{position:static}
.navbar-fixed-top{margin-bottom:20px}
.navbar-fixed-bottom{margin-top:20px}
.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner{padding:5px}
.navbar .container{padding:0;width:auto}
.navbar .brand{margin:0 0 0 -5px;padding-left:10px;padding-right:10px}
.nav-collapse{clear:both}
.nav-collapse .nav{float:none;margin:0 0 10px}
.nav-collapse .nav>li{float:none}
.nav-collapse .nav .nav-header{color:#777;text-shadow:none}
.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu a{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#777;font-weight:700;padding:9px 15px}
.nav-collapse .btn{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-weight:400;padding:4px 10px}
.nav-collapse .nav>li>a:hover,.nav-collapse .nav>li>a:focus,.nav-collapse .dropdown-menu a:hover,.nav-collapse .dropdown-menu a:focus{background-color:#f2f2f2}
.navbar-inverse .nav-collapse .nav>li>a,.navbar-inverse .nav-collapse .dropdown-menu a{color:#999}
.navbar-inverse .nav-collapse .nav>li>a:hover,.navbar-inverse .nav-collapse .nav>li>a:focus,.navbar-inverse .nav-collapse .dropdown-menu a:hover,.navbar-inverse .nav-collapse .dropdown-menu a:focus{background-color:#111}
.nav-collapse.in .btn-group{margin-top:5px;padding:0}
.nav-collapse .dropdown-menu{-moz-border-radius:0;-moz-box-shadow:none;-webkit-border-radius:0;-webkit-box-shadow:none;background-color:transparent;border:none;border-radius:0;box-shadow:none;display:none;float:none;left:auto;margin:0 15px;max-width:none;padding:0;position:static;top:auto}
.nav-collapse .navbar-form,.nav-collapse .navbar-search{-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);border-bottom:1px solid #f2f2f2;border-top:1px solid #f2f2f2;box-shadow:inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);float:none;margin:10px 0;padding:10px 15px}
.navbar-inverse .nav-collapse .navbar-form,.navbar-inverse .nav-collapse .navbar-search{border-bottom-color:#111;border-top-color:#111}
.navbar .nav-collapse .nav.pull-right{float:none;margin-left:0}
.nav-collapse,.nav-collapse.collapse{height:0;overflow:hidden}
.navbar-static .navbar-inner{padding-left:10px;padding-right:10px}
.nav-collapse .nav>li>a,.nav-collapse .dropdown-menu li+li a{margin-bottom:2px}
.nav-collapse .nav>.divider-vertical,.nav-collapse .dropdown-menu:before,.nav-collapse .dropdown-menu:after,.nav-collapse .dropdown-menu .divider,.nav-collapse .nav>li>.dropdown-menu:before,.nav-collapse .nav>li>.dropdown-menu:after{display:none}
.nav-collapse .open>.dropdown-menu,.navbar .btn-navbar{display:block}
}
@media min-width980px {
.nav-collapse.collapse{height:auto!important;overflow:visible!important}
}
@media screen and max-width 860px {
.flex-direction-nav .flex-prev{left:0;opacity:1}
.flex-direction-nav .flex-next{opacity:1;right:0}
}
@media max-width 979px {
.item{margin-bottom:1.5em;padding-bottom:.1em}
.carousel{margin-bottom:0}
.carousel .item{margin-bottom:1em}
.carousel img{width:auto}
.carousel-caption{margin-top:30px;width:100%}
.featurette-image,.featurette-image.pull-left,.featurette-image.pull-right{display:block;float:none;margin:0 auto 20px;max-width:80%}
.offset1,.offset2,.offset3{margin-left:0}
}
@media max-width 767px {
.nav div.logo{float:none;height:60px;margin:0}
.nav div{margin:0 0 .5em}
.marketing,/*footer{font-size:1em;margin-bottom:0;margin-left:-20px;margin-right:-20px}
*/
.carousel{margin-bottom:1em;margin-left:-20px;margin-right:-20px}
.carousel .item{height:auto}
.carousel-caption{margin-top:10px}
.carousel-caption h1{font-size:1.25rem;margin:1em 0 0}
.marketing .span4 + .span4{margin-top:40px}
.featurette-heading{font-size:30px}
.featurette .lead{font-size:18px}
footer .inner{width:300px}
}