*,
*::after,
*::before {
	box-sizing: border-box;
}

.wave {
--path-fill-1: #E53B34;
--path-fill-2: #FA8335;
--path-fill-3: #D3EBF4;
--color-menu: #fff;
--color-menu-hover: #fff;
}
/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}
.js body.render {
	opacity: 1;
}
.global-menu {
	width: 100vw;
	height: 100vh;
  display: flex;
  padding-left: var(--base-space);
	justify-content: left;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 200;
  &__item {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    display: block;
    transition: transform 0.3s, opacity 0.3s;
    transition-timing-function: ease-in;
    &.is-opened {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      transition-timing-function: ease;
      transition-duration:0.3s;
    }
    &:nth-of-type(1) { transition-delay: 0s; }
    &:nth-of-type(2) { transition-delay: 0.05s; }
    &:nth-of-type(3) { transition-delay: 0.1s; }
    &:nth-of-type(4) { transition-delay: 0.15s; }
    &.is-opened:nth-of-type(1) { transition-delay: 0.85s; }
    &.is-opened:nth-of-type(2) { transition-delay: 0.8s; }
    &.is-opened:nth-of-type(3) { transition-delay: 0.75s; }
    &.is-opened:nth-of-type(4) { transition-delay: 0.7s; }
  }

}
.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
  left: 0;
  &.is-opened { pointer-events: auto; }
  &__path:nth-of-type(1) { fill: var(--path-fill-1); }
  &__path:nth-of-type(2) { fill: var(--path-fill-2); }
  &__path:nth-of-type(3) { fill: var(--path-fill-3); }
}

.hamburger {
	cursor: pointer;
	z-index: 110;
	pointer-events: auto;
}
