// @include breakpoint(md) {
//   :root {
//       --text--base-size: 1.25em;
//       --text--scale-ratio: 1.25;
//   }
// }

body {
  // font-size: var(--text--base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1, h2, h3 {
  line-height: var(--heading-line-height);
  font-family: var(--font-headline);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 12px;
}

/* text size */
.text-xxl { font-size: calc(var(--text--base-size) * 2.333333333); font-weight: 700; line-height: .9em; }
h1, .text-xl { font-size: calc(var(--text--base-size) * 1.555555556); }
h2, .text-lg { font-size: calc(var(--text--base-size) * 1.222222222); }
h3, .text-md { font-size: var(--text--base-size); }
.text-sm, small { font-size: calc(var(--text--base-size) * 0.888888889); }
.text-xs { font-size: calc(var(--text--base-size) * 0.777777778); }

p, li {
  line-height: var(--body-line-height);
  font-size: var(--text--base-size);
}

a {
  &:link { color: var(--blue); text-decoration: none; }
  &:hover { text-decoration: underline; }
  &:visited { color: var(--color-link-visited); }
}

b, strong { font-weight: bold; }
em { font-style: italic; }
.uppercase { text-transform: uppercase; }

ul, ol, p { margin: 0 0 14px; }
ul, ol {
  list-style-position: outside;
  padding-left: 24px;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
ul li, ol li { line-height: var(--body-line-height); }

@media screen and (min-width: $break-tablet) {
  h1, h2, h3 {
    margin: 0 0 24px;
  }

  /* text size */
  .text-xxl { font-size: calc(var(--text--base-size) * 4.25); font-weight: 700; line-height: .9em; }
  h1, .text-xl { font-size: calc(var(--text--base-size) * 2.1); }
  h2, .text-lg { font-size: calc(var(--text--base-size) * 1.4); }
  h3, .text-md { font-size: var(--text--base-size); }
  .text-sm, small { font-size: calc(var(--text--base-size) * .8); }
  .text-xs { font-size: calc(var(--text--base-size) * .7); }

  }


