body {
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1, h2, h3 {
  line-height: var(--heading-line-height);
  // font-family: var(--font-headline);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 12px;
}
.grid-content {
  & h2, & h3 { margin: 0 0 calc(var(--base-space) / 2) 0; }
}
.home-intro {
  & h1 {
    text-shadow: 0 1px 10px #0003;
  }
  & h2 {
    line-height: 1.3;
    // font-family: var(--font-primary);
    text-shadow: 0 1px 5px #0006;
  }
}
.semibold { font-weight: 600; }
.bold { font-weight: 700; }

/* text size */
.text-xxl { font-family: var(--font-headline); font-size: calc(var(--text--base-size) * 2.333333333); font-weight: 700; line-height: .9em; }
h1, .text-xl { font-family: var(--font-headline); font-size: calc(var(--text--base-size) * 1.555555556); }
h2, .text-lg { font-family: var(--font-headline); font-size: calc(var(--text--base-size) * 1.222222222); }
h3, .text-md { font-family: var(--font-headline); font-size: var(--text--base-size); }
.text-sm, small { font-size: calc(var(--text--base-size) * 0.888888889); }
.text-xs { font-size: calc(var(--text--base-size) * 0.777777778); }

p, li {
  line-height: var(--body-line-height);
  font-size: var(--text--base-size);
}

a {
  &:link {
    color: var(--orange);
    text-decoration-color: #FA833533;
    text-underline-offset: .15em;
  }
  &:hover {
    text-decoration-color: var(--orange);
  }
  &:visited {
    color: var(--orange);
  }
}
a.white {
  &:link { color: var(--white); text-decoration: underline; }
  &:hover { text-decoration: none; }
  &:visited { color: var(--white); }
}

b, strong { font-weight: bold; }
em { font-style: italic; }
.uppercase { text-transform: uppercase; }
.normal-case { text-transform: none; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

ul, ol, p { margin: 0 0 14px; }
ul, ol {
  list-style-position: outside;
  padding-left: 1em;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
ul li, ol li {
  line-height: var(--body-line-height);
  &::marker { color: var(--blue); }
}

.testimonial {
  .quote {
    line-height: 1.5;
    font-size: 1.222222222em;
    color: var(--blue);
    & p { text-indent: -.47em; }
  }
  .source {
    font-size: 0.888888889em;
  }
}

@media screen and (min-width: $break-tablet) {
  h1, h2, h3 {
    margin: 0 0 24px;
  }

  /* text size */
  .text-xxl { font-size: 10ch; font-weight: 700; line-height: .9em; }
  h1, .text-xl { font-size: calc(var(--text--base-size) * 2.1); }
  h2, .text-lg { font-size: calc(var(--text--base-size) * 1.4); }
  h3, .text-md { font-size: var(--text--base-size); }
  .text-sm, small { font-size: calc(var(--text--base-size) * .8); }
  .text-xs { font-size: calc(var(--text--base-size) * .7); }

  .testimonial {
    .quote {
      font-size: 1.2em;
    }
    .source {
      font-size: 0.8em;
    }
  }
  footer {
    & h3 { font-size: calc(var(--text--base-size) * .9); }
  }
}


